@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Epilogue', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&display=swap');
/*font-family: 'BioRhyme', serif;*/
:root {
  --darkest-blue : #011627ff;
  --white: #fdfffcff;
  --tiffany-blue: #2ec4b6ff;
  --rose-madder: #e71d36ff;
  --orange-peel: #ff9f1cff;
  --platinium:#e5e5e5;
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background-color: var(--white);
  font-family: 'Epilogue', sans-serif;

}

nav {
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 1000;
}

nav svg{
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 11000;
}

footer{
  height: 50px;
  background-color: var(--darkest-blue);
  color: var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
  font-size: .8rem;
}
footer a{
  color: var(--white);
  text-decoration: none;
}

#menu{
  position: relative;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--darkest-blue);
  z-index: 100;
}

.in{
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);

}
.out{
  animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

#menu a{
  color: var(--white);
  text-decoration: none;
  font-family: Epilogue;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 1rem;
  background-image: linear-gradient(var(--darkest-blue), var(--darkest-blue)), linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) );
}

#menu.active{
  display: flex;
}

.animationUnderline{
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.animationUnderline:hover {
  background-size: 100% 2px, auto;
}

.animationUnderline.actif{
  background-size: 100% 2px, auto;
}
.visibilityNone{
  visibility: hidden;
}
.noscroll{
  overflow:hidden;
}
.hidden{
  display: none;
}
#mainContainer.hidden{
  display: none;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0 5%;

}
.part1{
  display: none;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}


.profilIMG{
  display: none;
  height: 90vh;
  width: auto;
/*  box-shadow:8px 8px 8px rgba(0, 0, 0, 0.5);
*/}
.blobAbsolute{
  display: none;
  top: 0px;
  right: 0px;
  height: 100vh;
  position: absolute;
  z-index: -10;
}
.part1 .infosPerso{
  margin-bottom: 10%;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--darkest-blue);
}
.part1 .infosPerso span{
 background: linear-gradient(to top, transparent 10%, var(--tiffany-blue) 10.01%,var(--tiffany-blue) 40%, transparent 40.01%);
}

.part1 .infosPerso em{
  font-weight: 300;
}
.projectsPreviewTop{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  /*image-rendering: -webkit-optimize-contrast;
  box-shadow:8px 8px 8px rgba(0, 0, 0, 0.1);*/
}
*.row-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.projectsPreviewTop div{
  height: 185px;
  width: 400px;
  margin: 1rem;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 400px;
  box-shadow:8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
  image-rendering: crisp-edges;
 image-rendering: -moz-crisp-edges;          /* Firefox */
 image-rendering: -o-crisp-edges;            /* Opera */
 image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
 -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}
.projectsPreviewTop div p{
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 20px; 
  font-size: 1.5rem;
  background-color: rgba(1,22,23,.4);
}
.projectsPreviewTop div:hover p{
  display: flex;
}

#cv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;
}
#cv img{
  width: 100%;
  max-width: 500px;

}
.cvInfos{
  width: 95%;
  display: flex;
  flex-direction: column;
}

.cvInfos h2{
  font-size: 3rem;
  margin-bottom: 10px;
}
.cvInfos p{
  font-size: 1rem;
  margin-bottom: 50px;
}
.cvInfos a{
  text-align: center;
  text-decoration: none;
  color: var(--darkest-blue);
  font-size: 1.2rem;
  background-color: var(--rose-madder);
  padding: 0.5rem 0.7rem;
  padding-top: 0.6rem;
  border-radius: 20px;

}

.arrowDown{
  display: none;
  transform: translateY(-250px);
}

#projets{
  margin-top: 70px;
  width: 100%;
  height: 100vh;
}

#contact{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact a{
  text-decoration: none;
  color: var(--tiffany-blue);
  border-color: var(--darkest-blue);
}
.revealButton{
  font-family: 'BioRhyme', serif;
  color: var(--rose-madder);
  font-size: 4rem;
  cursor: pointer;
}
.revealButton:hover{
  animation: text-shadow-drop-bottom 0.6s both;
}
#contact h2{
  font-family: 'BioRhyme', serif;
  color: var(--rose-madder);
  text-align: center;
  font-size: 4rem;
  white-space: nowrap;
  animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.photosContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.photosContainer img{
  object-fit: cover;
  object-position: center;
  width: 80%;
  max-width: 400px;
  height: 300px;
  margin: .5rem;
}


/*PC*/
@media (min-width: 1100px){
  .blobAbsolute{
  display: initial;
}
  .transparent{
  background-color: transparent!important;
}
  .mainContainer{
    margin-top: 100px;
    margin-top: 5vh;
  }
  .profilIMG{
    display: block;
  }
  .part1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .part1 .infosPerso{
    height: auto;
    margin:0 auto;
    width: 600px;
  }
  .projectsPreviewTop{
    display: flex;
    margin-right: 50px;
  }
  #hamMenu{
    display: none;
  }
  #menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--white);
    transition: background-color .8s ease;
    transition-delay: 500ms;
    width: 100vw;
    height: 3rem;
    transform: translateX(0);
    z-index: 1000;
  }
  #menu a{
    color: var(--darkest-blue);
  }
  .part1{
    flex-direction: row;
  }
  #cv{
    flex-direction: row;
  }
  #cv img{
    height: 100vh;
    width: 50%;
  }
  .arrowDown{
    display: block;
    transform: translateY(-150px);
    z-index: 0;
  }
  .cvInfos{
    display: block;
    transform: translateY(0);
    width: 50%;
  }

  .cvInfos h2{
    font-size: 4rem;
    margin-bottom: 50px;
  }
  .cvInfos p{
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .cvInfos a{
    font-size: 1.5rem;
  }
}
  
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.active .line{
  stroke:var(--orange-peel);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:var(--tiffany-blue);
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    display: none;
  }
}


/********************************
-------MULTICOLOR BUTTON---------
********************************/
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2f3542;
  /*cursor: pointer;*/
  transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
}
.box:hover {
    transform: scale(1.05);
}
.box p {
  margin-top: 30px;
  transform: scale(1.2);
  position: absolute;
  font-size: 3rem;
  letter-spacing: 3px;
}

.box p{
  margin-top: 0;
  font-size: 6vw;
}

.circle {
    width: 30vw;
    height: 33vw;
    border-radius: 50%;
    animation: 16s linear infinite spinning;
    box-shadow: 
		0 -25px 0 var(--rose-madder),
		-25px 0 0 var(--orange-peel),
		0 25px 0 var(--tiffany-blue),
		25px 0 0 var(--darkest-blue);
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#contact #phone, #contact #mail{
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 3em;
}


@media (max-width: 430px){
  #contact h2{
    font-size: 2.5rem;
  }
  .revealButton{
    font-size: 2.5rem;
  }
  #contact #phone{
    font-size: 1.5rem;
  }
  #contact #mail{
    font-size: 1.5rem;
  }
}

.typing_phone {
  width: 10ch;
  animation: typing 1s steps(10), blink .5s step-end infinite alternate;
  border-right: 3px solid var(--darkest-blue);

}

.typing_mail {
  width: 24ch;
  animation: typing 1.5s steps(24), blink .5s step-end infinite alternate;
  border-right: 3px solid var(--darkest-blue);

}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--rose-madder);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--rose-madder) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loader{
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}